<!--
<div id="blog" class="upper_container">
	<ul class="posts">
		<li>
			<article class="panel-group">
				<header class="panel panel-primary">
					<div class="author">
						<span><img src="artiste_0.jpg" alt="" class="img_icon_"> <a href="#">nom du membre</a></span>
					</div>
					<span class="date">Mercredi 27 Août</span>
					<h3>Titre du post</h3>
					<a href="#">#charité</a> => <a href="#">#action sociale</a>
					<a></a>
				</header>
				<main class="panel panel-warning">
					<div class="img">
						<img src="bible-bahoule.jpg" alt="" class="">
					</div>
					<div class="text">
						contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post contenu du post 
					</div>
					<div class="react text-center">
						<a href="#">répondre</a> <a href="#">amen</a> <a href="#">hozanna</a> <a href="#">alleluia</a>
					</div>
				</main>
				<footer class="panel panel-info">
					<div class="likes">
						<span><span class="badge">13</span> <i class="glyphicon glyphicon-asterisk" title="réponse(s)"></i></span><span><span class="badge amen">88</span> <i class="glyphicon glyphicon-asterisk" title="amen(s)"></i></span><span><span class="badge hosanna">8</span> <i class="glyphicon glyphicon-asterisk" title="hosanna(s)"></i></span><span><span class="badge alleluia">12</span> <i class="glyphicon glyphicon-asterisk" title="alleluia(s)"></i></span>
					</div>
				</footer>
			</article>
		</li>
	</ul>		
	<ul class="aside">		
	</ul>		
	<ul class="aside">		
	</ul>		
</div>
-->

<!--
<article id="page" class="upper_contain ">
	<header>
		<div>
			<img src="coeur_immacule.jpg" alt="" class="">
			<img src="artiste1.jpg" alt="" class="">
			<span>NOM Prénom Pseudonyme</span>
		</div>
		<h1>Ceci est un titre que j'ai choisi de mettre sur mon profile</h1>
	</header>
	<main>
		<h2>Mes informations personnelles</h2>
		<ul>
			<li><span>Nom</span> : <span>ACHI</span></li>
			<li><span>Prénom</span> : <span>Agnissan</span></li>
			<li><span>Pseudo</span> : <span>archist</span></li>
			<li><span>Âge</span> : <span>29 ans</span></li>
			<li><span>Membre depuis</span> : <span>23 Janvier 2018</span></li>
			<li><span>etc</span> : <span>...etc...</span></li>
			<li><span>etc</span> : <span>...etc...</span></li>
			<li><span>etc</span> : <span>...etc...</span></li>
		</ul>
		<h3>La description de chrétien et de personne que je fais de moi</h3>
		<p>La description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moiLa description de chrétien et de personne que je fais de moi</p>
		<h4>Ce que a quoi j'ai participé sur jesus-christ.tv</h4>
		<div>
		</div>
		<h5>Ce que j'ai partagé sur jesus-christ.tv</h5>
		<div>
		</div>
		<h6>Ce que j'ai aimé sur jesus-christ.tv</h6>
		<div>
		</div>
	</main>
	<footer>
		<h2>Vos points dans la foi, l'espérance et la charité</h2>
		<div>
			Vous avez 10 points dans la foi
			<br>
			Vous avez 143 points dans la charité
			<br>
			Vous avez 18 points dans l'espérance
		</div>
	</footer>
</article>
-->