
	<form action="/set_logos" method="POST">
		<input type="hidden" name="href" value="fr">
		langue<input name="langue">
		date MMDD<input name="date">
		texte1 titre<input name="t1">
		<textarea id="rc_descr" name="text_1" ></textarea>
		texte1 titre<input name="t2">
		<textarea id="rc_descr" name="text_2" ></textarea>
		textecomp titre(s)<input name="tcomp">
		<textarea id="rc_descr" name="text_comp" ></textarea>
		<input type="submit">
	</form>